body {
    margin: 0;
    font-size: 1.75vw;
    font-family: 'Barlow', sans-serif;
}

.section {
    margin: 50px 70px;
}

.title {
    font-size: 3vw;
}

.filler {
    color: white;
}








/*--------NAV----------*/

.navbar {
    height: 12vh;
    border: 1px solid lightgray;
    margin: 0;
    box-shadow: 5px 10px 18px lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.nav-list>li {
    display: inline;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 25px;
}

.nav-image>img {
    height: 9vh;
}

.name {
    font-size: 2vw;
    margin-left: 20px;
}

.bold {
    font-weight: 900;
}

li>a {
    text-decoration: none;
    color: gray;
    font-size: 2vw;
}

li {
    margin: 0 10px;
}








/*-------END NAV----------*/


/*---------ABOUT-------*/

.about_main {
    display: flex;
    flex-direction: row;
}

.face-pic {
    border: 3px solid black;
    box-shadow: 5px 10px 18px gray;
    display: inline-block;
    width: 40%;
    height: 100%;
}

.face-pic>img {
    width: 100%;
}

.about-title {
    margin: 5px 0 0 25px;
    font-size: 2.25vw;
    left: 40%;
    position: relative;
    padding-bottom: 14px;
    z-index: -1;
}

.media-title {
    display: none;
    margin-top: 0;
}

.smallText {
    margin-top: 0;
    font-size: 1.75vw;
    text-align: justify;
}

.about-text {
    margin: -6px 0 0 20px;
    display: inline-block;
    width: 50%;
}








/*---------END ABOUT-------*/


/*----------LANGUAGES----------*/

.language-title {
    text-align: center;
    margin-bottom: 25px;
}

.languages {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.language {
    width: 12.5%;
    display: flex;
    flex-direction: column;
}

.language>img {
    width: 100%;
}

.language>h3 {
    text-align: center;
}

#ruby {
    width: 150%;
    margin-left: -20%;
}






/*-------END LANGUAGES----------*/


/*----------PROJECTS------------*/

.projects-title {
    text-align: center;
    margin-bottom: 0;
}

.projectsSubHeading {
    text-align: center;
    font-size: 15px;
    margin: 5px 0 30px 0;
}

.project {
    width: 45%;
}

.imagebox>img {
    width: 100%;
    border: 3px solid black;
    box-shadow: 5px 10px 18px gray;
}

.imagebox>img:hover {
    cursor: pointer;
}

.project>h3 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.project>a {
    text-align: center;
}






/*------END PROJECTS-----------*/


/*------------CONTACT-------------*/

.contact-title {
    text-align: center;
}

#contact>p {
    text-align: center;
}

.social {
    text-align: center;
}

.social>div {
    display: inline-block;
}

.social>div>a>img {
    width: 40px;
}





/*-----------END CONTACTS------------*/


/*------------MODALS---------------*/


/*Sourced from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/

.pels_modal,
.scrabble_modal,
.mediaddict_modal,
.bandessentials_modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border: 5px solid black;
    text-align: justify;
}

.close {
    color: #aaaaaa;
    font-size: 3vw;
    font-weight: bold;
    position: absolute;
    right: 19%;
    top: 100px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.project-links {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-links>a {
    margin: 0 2.5px;
}

.project-links>a>img {
    width: 40px;
}





/*-----------END MODALS-------------*/


/*----------MEDIA---------------*/

@media (max-width: 645px) {
    .section {
        margin: 50px 30px;
    }

    .about-title {
        display: none;
    }

    .media-title {
        display: block;
    }

    .about_main {
        flex-direction: column;
    }

    .title,
    .media-title {
        font-size: 5vw;
    }

    .navbar {
        height: 9vh;
    }

    .nav-image>img {
        height: 6vh;
    }

    .right-nav,
    .left-nav {
        padding: 0;
        display: inline-block;
    }

    .navbar {
        display: block;
    }

    .name {
        margin: 0;
        font-size: 2.3vw;
    }

    .nav-list>li>a {
        font-size: 3.5vw;
    }

    .filler {
        height: 50px;
    }

    .face-pic,
    .about-text {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .about-text {
        width: 100%;
    }

    .face-pic {
        width: 50%;
        margin-bottom: 20px;
    }

    .smallText,
    .modal-content {
        font-size: 3vw;
    }

    .language>h3 {
        font-size: 2.3vw;
    }

    .resume>a {
        font-size: 3vw;
    }

    .project-links>a>img {
        width: 30px;
        margin: 0 5px;
    }

    .project>h3 {
        font-size: 3vw;
    }

    .close {
        font-size: 8vw;
        font-weight: bold;
        position: absolute;
        right: 16%;
        top: 95px;
    }
}

@media (max-width: 375px) {
    .nav-list>li>a {
        font-size: 2.9vw;
    }
}